.profile-image-section {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    margin-bottom: 16px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image img.is-hidden {
    display: none;
}

.profile-image-button {
    font-size: 12px;
    font-weight: 600;
    padding: 4px 12px;
    border: 1px solid #ff5555;
    color: #ff5555;
    border-radius: 4px;
    cursor: pointer;
}
