{
    "printWidth": 100,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-blade"],
    "overrides": [{ "files": "*.blade.php", "options": { "parser": "blade" } }]
}
